.employeeList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  flex: 1;
  overflow: scroll;
  padding: 20px;
}

.employee-container {
  display: flex;
  flex-direction: column-reverse;
}

.employee-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20vh;
  margin: 10px 0;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.employee-card > li {
  list-style: none;
}
