.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  flex: 1;
  padding: 20px;

  border-right: 1px solid black;
}

.form > input {
  height: 5vh;
}

.form > button {
  max-width: 25%;
  min-height: 5vh;
  cursor: pointer;
}
